FAST_REFRESH=false
REACT_APP_GRAPH = enabled
REACT_APP_CREATE_PLAYER = true
REACT_APP_API_URI = http://localhost:8082/api
REACT_APP_API_SOCKET = ws://localhost:8082/api/virtual-locker
REACT_APP_CLIENT_ID = 128124032446-4k46ovfjdhv5q4a8jos6iou0h4ahs9q2.apps.googleusercontent.com
REACT_APP_API_DEVICE_DS = http://localhost:5002
REACT_APP_SENTRY_DNS = https://f5f2f7d1ed6b4976833c3d686123885d@o575741.ingest.sentry.io/5728436
