.checkbox-group-equip {
  .ant-checkbox-wrapper {
    width: 174px;
    padding: 1px 0px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.filter-checkbox {
  padding: 0px 13px 0px 25px;
}
